$c-black: #000000;
$c-white: #ffffff;
$bg-base: $c-white;
$bg-blue: #0e1d82;
$c-caption: #112089;

$c-yellow: #ffbe26;
$c-base: #31456a;
$c-haze: #f6f8fc;
$link: $c-black;

$f-size: 16px;

$line-height: 1.6;

$f-stack: 'Object Sans', sans-serif;
$f-stack-spec: 'Atomic', sans-serif;
