<section class="anti-section" id="anti">
    <div class="container">
        <h2 class="wow fadeInLeft">Lorem <br>Ipsum</h2>
        <div class="row">
            <div class="col-md-5">
                <div class="anti fadeIn wow">
                    <div class="anti-sing">
                        <div class="anti-sing__inner"></div>
                        <img src="img/anti1.svg" alt="">
                    </div>
                    <div class="anti-text">Lorem Ipsum <br>is simply <br>dummy text</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="anti fadeIn wow" data-wow-delay="0.5s">
                    <div class="anti-sing">
                        <div class="anti-sing__inner"></div>
                        <img src="img/anti2.svg" alt="">
                    </div>
                    <div class="anti-text">Lorem <br>Ipsum is simply <br>dummy text</div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="anti fadeIn wow" data-wow-delay="1s">
                    <div class="anti-sing">
                        <div class="anti-sing__inner"></div>
                        <img src="img/anti3.svg" alt="">
                    </div>
                    <div class="anti-text">Lorem Ipsum <br>is simply <br>dummy text</div>
                </div>
            </div>
        </div>
    </div>
</section>
