<div class="row pup-item wow fadeInUp">
    <div class="col-sm-5">
        <div class="pup-item__text-cont">
            <h3 class="pup-item__title"><%-item.title%></h3>
            <div class="pup-item__text"><%-item.text%></div>
        </div>
    </div>
    <div class="col-sm-10">
        <div class="pup-item__img">
            <a class="und-none" href="<%-item.thumb%>" data-fancybox>
                <div class="pup-item__img-wr">
                    <img src="<%-item.thumb%>" alt="">
                    <div class="pup-item__show-a">
                        <div class="pup-item__show-b">
                            <i class="icon-search"></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
