<section class="review">
    <div class="container">
        <div class="row wow fadeIn">
            <div class="col-md-5">
                <h2 id="review">Title <br>Name</h2>
            </div>
            <div class="col-md-10">
                <div class="video-bl">
                    <a class="und-none" data-fancybox href="https://www.youtube.com/">
                        <div class="video-pup">
                            <img src="img/content/video1.png" alt="">
                            <div class="video-pup__btn-a">
                                <div class="video-pup__btn-b">
                                    <i class="icon-play"></i>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
