<%
let teamItems = [

    {
        title: 'Title',
        text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        thumb: 'img/content/team1.png',
        full: 'img/content/team1.png'
    },
    {
        title: 'Title',
        text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        thumb: 'img/content/team2.png',
        full: 'img/content/team2.png'
    },
    {
        title: 'Title',
        text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        thumb: 'img/content/team3.png',
        full: 'img/content/team3.png'
    },
    {
        title: 'Title',
        text: 'Lorem Ipsum is simply dummy text of the printing and typesetting industry',
        thumb: 'img/content/team4.png',
        full: 'img/content/team4.png'
    },
];
 %>
<section class="teamwork">
    <div class="container">
        <div class="dragee dragee__tab-1"></div>
        <div class="dragee dragee__tab-2"></div>
        <div class="dragee dragee__tab-3"></div>
        <div class="dragee dragee__tab-4"></div>
        <div class="dragee dragee__tab-5"></div>
        <div class="dragee dragee__tab-6"></div>
        <div class="dragee dragee__tab-7"></div>
        <div class="dragee dragee__tab-8"></div>
        <h2 class="wow fadeInLeft">Title</h2>
        <div class="pup-list">
            <% teamItems.forEach(item => { %>
                <%- include('pup-item', {item})%>
            <%})%>
        </div>
    </div>
</section>
